h1 {
  color: #fff;
}

.hero {
  min-height: 700px;
  background-image: linear-gradient(
      to bottom,
      rgba(36, 37, 130, 0.52),
      rgba(246, 76, 114, 0.75)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.logo {
  max-width: 800px;
  height:auto;
}
/* .row {
    position:relative;
}
.middle {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
} */
