h1, h3, h5 {
  color: #fff;
}
h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Reem Kufi', sans-serif;
}
.hero, .banner {
  min-height: 700px;
  background-image: linear-gradient(
      to bottom,
      rgba(36, 37, 130, 0.52),
      rgba(246, 76, 114, 0.75)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner {
  min-height: 300px;
}
.logo {
  margin-top: 125px;
  max-width: 600px;
  height:auto;
}
.logo-small {
  max-width: 150px;
  height:auto;
}
.btn-primary {
  background-color:#ffe300!important;
  border-color: black!important;
  color: black!important;
  margin-left: auto!important;
  margin-right: auto!important;
}
.card{
  margin-top: 95px;
}
.tradingCard {
  max-height: 250px;
  border-radius: .75rem;
}
.tradingCard-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}
cite {
  font-size: 9px;
  color: #636363;
}

/* .row {
    position:relative;
}
.middle {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
} */
